<div class="row">
  <% @estampas.each do |estampa| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag estampa.image.url(:medium), class: 'image'), estampa %>
      </div>
    </div>
  <% end %>
</div>